/* Main */
main {
  padding: calc(var(--padding-default) * 2) var(--padding-default);
}
main .mainInner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .mainInner > .title {
  font-size: var(--font-large);
  font-weight: bold;
}
main:has(.searchResult.on) .mainInner > .title {
  display: none;
}
main .searchResult {
  display: none;
}
main .searchResult .keyword {
  font-weight: bold;
  color: rgb(var(--color-secondary));
}
main .searchResult.on {
  display: block;
}
main .pagination,
main .pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
main .pagination button {
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
}
main .pagination > button:disabled {
  color: rgb(var(--gray-300));
  cursor: default;
}
main .pages button.on {
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-ivory));
}
main .bookList:empty ~ .pagination {
  display: none;
}
