@charset "UTF-8";

:root {
  --color-primary: 235, 209, 157;
  --color-primary-light: 246, 239, 223;
  --color-secondary: 63, 151, 175;
  --color-secondary-light: 143, 219, 239;
  --color-ivory: 249, 248, 245;
  --color-white: 255, 255, 255;
  --color-black: 28, 25, 23;
  --gray-100: 245, 245, 244;
  --gray-300: 214, 211, 209;
  --gray-500: 120, 113, 108;
  --gray-700: 68, 64, 60;

  --max-width: 1024px;
  --padding-default: 1rem;

  --font-small: 0.75rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-extra-large: 1.5rem;

  --shadow-small: 0 2px 5px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 5px 15px rgba(0, 0, 0, 0.25);
  --shadow-large: 0 5px 30px rgba(0, 0, 0, 0.25);

  --image-logo: url("../assets/images/logo.svg");

  font-size: 16px;
}

input,
button {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}

/* Common */
.mw {
  max-width: var(--max-width);
  margin: auto;
}
h1 {
  display: none;
}

/* Header */
.header {
  background-color: rgb(var(--color-ivory));
  box-shadow: var(--shadow-medium);
  padding: var(--padding-default);
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
  width: 50px;
  height: 50px;
  padding: var(--padding-default);
  background-image: var(--image-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center -3px;
}
.header .searchForm {
  display: flex;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-color: rgb(var(--color-white));
  box-shadow: var(--shadow-small);
  position: relative;
  transition: border-color 0.3s;
}
.header .searchForm input {
  flex: 1;
  padding: calc(var(--padding-default));
  background-color: transparent;
}
.header .searchForm input ~ label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: text;
  color: rgb(var(--gray-300));
}
.header .searchForm input:not(:placeholder-shown) ~ label {
  display: none;
}
.header .searchForm:has(input:focus) {
  border-color: rgb(var(--color-primary));
}
.header .searchForm button {
  color: rgb(var(--color-primary));
  padding: var(--padding-default) calc(var(--padding-default) * 1.25);
}
.header .bookmarkOpenBtn {
  padding: var(--padding-default);
  font-size: var(--font-extra-large);
  color: rgb(var(--color-primary));
}
@media (max-width: 768px) {
  .headerInner {
    position: relative;
    flex-direction: column;
  }
  .header .logo {
    width: 80px;
    height: 80px;
  }
  .header .searchForm {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .header .searchForm button {
    padding: var(--padding-default);
  }
  .header .bookmarkOpenBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Main */
main {
  padding: calc(var(--padding-default) * 2) var(--padding-default);
}
main .mainInner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .mainInner > .title {
  font-size: var(--font-large);
  font-weight: bold;
}
main:has(.searchResult.on) .mainInner > .title {
  display: none;
}
main .searchResult {
  display: none;
}
main .searchResult .keyword {
  font-weight: bold;
  color: rgb(var(--color-secondary));
}
main .searchResult.on {
  display: block;
}
main .pagination,
main .pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
main .pagination button {
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
}
main .pagination > button:disabled {
  color: rgb(var(--gray-300));
  cursor: default;
}
main .pages button.on {
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-ivory));
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.modal.on {
  z-index: 9999;
  opacity: 1;
  pointer-events: all;
}
#bookmarkModal {
  background-color: rgb(var(--color-ivory));
  max-width: var(--max-width);
  width: calc(100% - var(--padding-default));
  height: 80%;
  padding-bottom: calc(var(--padding-default) * 2);
  border-radius: 1rem;
  box-shadow: var(--shadow-large);
  overflow: hidden;
}
#bookmarkModal .modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-default);
  background-color: rgb(var(--color-primary));
  border-bottom: 5px solid rgb(var(--color-secondary));
}
#bookmarkModal .modalHeader .title {
  font-size: var(--font-large);
  font-weight: bold;
}
#bookmarkModal .modalHeader .closeBtn {
  display: block;
  font-size: var(--font-large);
  padding: calc(var(--padding-default) / 4);
}
#bookmarkModal .main {
  height: calc(100% - (var(--padding-default) + var(--font-large)));
  overflow-y: auto;
  padding: var(--padding-default);
}

@media (max-width: 768px) {
  body:has(.modal.on) {
    overflow: hidden;
  }
  #bookmarkModal {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

/* Book */
main .bookList,
.modal .bookmarkList {
  display: grid;
  gap: 1rem;
}
main .bookList {
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}
.modal .bookmarkList {
  grid-template-columns: repeat(3, 1fr);
}
.bookWrap .book {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-medium);
  padding: calc(var(--padding-default) / 1.5);
  padding-bottom: calc(var(--padding-default) * 3);
  position: relative;
  font-size: var(--font-small);
  color: rgb(var(--gray-500));
  background-color: rgb(var(--color-white));
}
.bookWrap .imageWrap {
  position: relative;
  padding-top: 120%;
  overflow: hidden;
}
.bookWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.bookWrap .title,
.bookWrap .price {
  font-size: var(--font-medium);
  font-weight: bold;
  color: rgb(var(--color-black));
}
.bookWrap .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.bookWrap .group > span {
  display: inline-block;
}
.bookWrap .description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: var(--padding-default);
  font-size: var(--font-medium);
  line-height: 1.5;
  color: rgb(var(--color-white));
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}
.bookWrap:hover:not(:has(.like:hover)) .description {
  opacity: 1;
}
.bookWrap .more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}
.bookWrap .like {
  position: absolute;
  bottom: calc(var(--padding-default) / 4);
  right: calc(var(--padding-default) / 4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-large);
  color: rgb(var(--gray-300));
  transition: background-color 0.3s;
}
.bookWrap .like::before {
  content: "\f004";
  font-weight: 900;
  font-family: "Font Awesome 6 free", emoji;
}
.bookWrap .like:hover::before {
  scale: 1.15;
}
.bookWrap .like.on {
  color: rgb(var(--color-primary));
}
.bookWrap .like:hover {
  background-color: rgba(var(--gray-100), 0.5);
  backdrop-filter: blur(2px);
}
.bookWrap .like.on:hover::before {
  content: "\f7a9";
}

@media (max-width: 768px) {
  main .bookList,
  .modal .bookmarkList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  main .bookList,
  .modal .bookmarkList {
    grid-template-columns: 1fr;
  }
}

/* Empty */
main .bookList:empty ~ .pagination {
  display: none;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: calc(var(--padding-default) * 10) 0;
  color: rgb(var(--gray-500));
}
.empty .icon {
  font-size: 10rem;
}

/* Loading */
body:has(.loading) {
  pointer-events: none;
  user-select: none;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 5rem;
  color: rgb(var(--color-primary));
}
.loading i {
  animation: loading 1s infinite cubic-bezier(0.51, 0.08, 0.39, 0.89) alternate;
}
.loading i:nth-of-type(2n) {
  color: rgb(var(--color-secondary));
}
.loading i:nth-of-type(2) {
  animation-delay: 0.5s;
}
.loading i:nth-of-type(3) {
  animation-delay: 1s;
}
.loading i:nth-of-type(4) {
}

@media (max-width: 768px) {
  .loading {
    font-size: 2.5rem;
  }
}
@keyframes loading {
  0% {
    translate: 0;
  }
  100% {
    translate: 0 1rem;
  }
}

/* Toast */
.toast {
  position: fixed;
  z-index: 9999;
  max-width: 500px;
  width: calc(100% - var(--padding-default) * 2);
  padding: var(--padding-default);
  backdrop-filter: blur(5px);
  scale: 1 0;
  transition: scale 0.3s;
}
.toast.on {
  scale: 1;
}
.toast.success {
  background-color: rgba(0, 255, 0, 0.25);
}
.toast.error {
  background-color: rgba(255, 0, 0, 0.25);
}
.toast.center {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.toast.top {
  transform-origin: top;
  top: calc(50px + var(--padding-default) * 4);
}
.toast.bottom {
  transform-origin: bottom;
  bottom: calc(var(--padding-default) * 4);
}
.toast.left {
  left: var(--padding-default);
}
.toast.right {
  right: var(--padding-default);
}
@media (max-width: 768px) {
  .toast.top {
    top: calc(50px + var(--padding-default) * 10);
  }
  .toast.bottom {
    bottom: var(--padding-default);
  }
}
