@charset "UTF-8";

:root {
  --color-primary: 235, 209, 157;
  --color-primary-light: 246, 239, 223;
  --color-secondary: 63, 151, 175;
  --color-secondary-light: 143, 219, 239;
  --color-ivory: 249, 248, 245;
  --color-white: 255, 255, 255;
  --color-black: 28, 25, 23;
  --gray-100: 245, 245, 244;
  --gray-300: 214, 211, 209;
  --gray-500: 120, 113, 108;
  --gray-700: 68, 64, 60;

  --max-width: 1024px;
  --padding-default: 1rem;

  --font-small: 0.75rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-extra-large: 1.5rem;

  --shadow-small: 0 2px 5px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 5px 15px rgba(0, 0, 0, 0.25);
  --shadow-large: 0 5px 30px rgba(0, 0, 0, 0.25);

  --image-logo: url("../assets/images/logo.svg");

  font-size: 16px;
}

input,
button {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}

/* Common */
.mw {
  max-width: var(--max-width);
  margin: auto;
}
h1 {
  display: none;
}
